<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.cpp.readpoetry"
          android:versionCode="1"
          android:versionName="1.0">

    <application
            android:allowBackup="true"
            android:icon="@drawable/ic_launcher"
            android:name="com.cpp.readpoetry.config.PoetryApplication"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar">

        <!-- Welcome Screen -->
        <activity android:name=".mockedActivity.WelcomeActivity"
                  android:configChanges="keyboardHidden|navigation|orientation"
                  android:screenOrientation="portrait"
                  android:theme="@android:style/Theme.NoTitleBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- MainActivity -->
        <activity
                android:name=".mockedActivity.MainActivity"
                android:theme="@style/MockedAccountLight"
                android:label="@string/app_name">
        </activity>

        <activity android:name=".mockedActivity.SettingActivity"
                  android:theme="@style/AppTheme"/>
        
        <activity android:name=".mockedActivity.Profile"/>

        <activity android:name=".mockedActivity.LoginActivity"
                  android:theme="@style/AppTheme"/>

    </application>

</manifest>
